services:
 minio:
  image: minio/minio
  environment:
   MINIO_ROOT_USER: admin
   MINIO_ROOT_PASSWORD: password
  command: server /data --console-address ":9001"
  volumes:
   - minio_data:/data
  ports:
   - "9000:9000"
   - "9001:9001"


volumes:
 minio_data: